@import "../../responsive.scss";

.slider{
    width: 100%;
    height: 350px;
    display: flex;
    gap: 20px;
    
    .fullSlider{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 9999;

        .arrow{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 25px;
                &.right{
                    transform: rotate(180deg);
                }
            }

           
        }

        .imgContainer{
            flex: 10;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .close{
            position: absolute;
            top: 30px;
            right: 50px;
            color: white;
            padding: 10px;
            border : 1px solid white;
            border-radius: 5px;
            font-size: 24px;
            font-weight: 600px;
            &:hover{
                cursor: pointer;
            }
        }

    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
    }

    .bigImage{
        flex:3;

        
    }

    .smallImages{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;

        img{
            height: 100px;
        }
    }
}