@import "../../responsive.scss";

.singlePage{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow-y: scroll;
    }
    .details{
        flex: 3;
        height: 100%;
        overflow-y: scroll;
        @include md{

            flex: none;
            height: max-content;
            margin-bottom: 40px;
        }
        .wrapper{
            padding-right: 50px;

            .info{
                margin-top: 50px;
                .top{
                    display: flex;
                    justify-content: space-between;

                    .post{
                        display: flex;
                        flex-direction: column;
                        gap:20px;

                        h1{

                        }
                        .address{
                            display: flex;
                            gap: 5px;
                            align-items: center;
                            font-size: 14px;
                            color: #888;
                            
                            img{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .price{
                            padding: 5px;
                            background-color: rgb(254,205,81,0.438);
                            border-radius: 5px;
                            width: max-content;
                            font-weight: 300;
                            font-size: 20px;
                        }
                    }
                    .user{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        gap:20px;
                        padding: 0 50px ;
                        background-color:  rgb(254,205,81,0.209);
                        border-radius: 10px;
                        font-weight: 600;

                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;
                        };
                    }
                }
                .bottom{
                    // line-height: 20px;
                    margin-top: 50px;
                    color: #555;
                }
            }
        }
    }
    .features{
        flex: 2;
        background-color: #fcf5f3 ;
        height: 100%;
        overflow-y: scroll;
        @include md{

            flex: none;
            height: max-content;
        }

        .wrapper{
                padding: 0px 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                img{
                    height: 24px;
                    // width: 30px;
                }

                .title{
                    font-weight: bold;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                .item{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    align-items: center;
                    img{
                        height: 30px;
                        object-fit: cover;
                        padding: 5px;
                        background-color: rgb(254, 205, 81,0.209);
                    }

                    .itemText{
                        span{
                            font-weight: bold ;

                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }

                .listVertical{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 20px 10px;
                    background-color: white;
                    border-radius: 10px;

                    
                }
                .listHorizontal{
                    display: flex;
                    padding: 20px 10px;
                    background-color: white;
                    border-radius: 10px;
                    justify-content: space-between;
                    
                }

                .sizes{
                    display: flex;
            
                    justify-content: space-between;
                    @include lg{
                        font-size: 12px;
                    }
                    .size{
                        display: flex;
                        align-items: center;
                        background-color: white;
                        padding: 10px ;
                        border-radius: 5px;
                        gap: 10px;
                    }


                }

                .mapContainer{
                    width: 100%;
                    height: 200px;
                    z-index:0 ;
                }
                .buttons{
                    display: flex;
                    justify-content: space-between;
                    button{
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 5px;
                        background-color: white;
                        border: 1px solid #fece51;
                        border-radius: 5px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        
                        img{
                            width: 16px;
                            height: 16px;
                        }
                    }
                }
        }


    }
}