@import "../../responsive.scss";
* {
  box-sizing: border-box;
}
.searchBar {
  .type {
    @include sm {
      // margin-bottom: 5px;
    }

    button {
      padding: 16px 26px;
      border: 1px solid #999;
      cursor: pointer;
      border-bottom: none;
      background-color: white;
      text-transform: capitalize;
      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;

        @include sm {
          // border-bottom: 1px solid #999;
        }
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    gap: 2px;
    height: 64px;

    @include sm {
      flex-direction: column;
      border: none;
    }

    input {
      border: none;
      padding: 0 10px;
      width: 200px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2),
        &:nth-child(3) {
          width: 140px;
        }
      }
      @include md {
        width: 200px;
        &:nth-child(2),
        &:nth-child(3) {
          width: 200px;
        }
      }

      @include sm {
        padding: 20px;
        width: auto;
        &:nth-child(2),
        &:nth-child(3) {
          width: auto;
        }
        border: 1px solid #999;
      }
    }
    a {
      flex: 1;
      background-color: #fece51;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        border: none;
        cursor: pointer;
        background-color: #fece51;

        @include sm {
          padding: 10px;
        }
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
