@import '../../responsive.scss';
*{
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    // background-color: aqua;

    a{
        transition: all 0.4s ease;

        @include sm{
            display: none;
        }

        &:hover{
            scale: 1.05;
        }
    }

    .left{
        display: flex;
        flex: 3;
        gap: 15px;
        align-items: center;

        .logo{
            font-weight: bold;
            font-size: 20px;
            display: flex;
            gap: 10px;
            align-items: center;

            img{
                width: 28px;
            }
            span{
            
                @include md{
                    display: none;
                }
                @include sm{
                    display: initial;
                }
            }
            
        }
    }

    .right{
        display: flex;
        flex:2;
        justify-content: flex-end;
        align-items: center;
        background-color: #fcf5f3;
        height: 100%;

        @include md{
            background-color: transparent;
        }
        a{
            padding: 12px 24px;
            margin: 20px;
        }
        .user{
            display: flex;
            align-items: center;
            font-weight: bold;

            img{
                border-radius: 50%;
                width: 40px;
                height: 40px;
                object-fit: cover;
                margin-right: 10px;
            }

            span{
                @include sm{
                    display: none;
                }
            }

            .profile{
                position: relative;
                padding: 12px 24px;
                background-color: #fece51;
                border: none;
                cursor: pointer;
                height: 100%;
                // overflow: hidden;
                flex-shrink: 0;
                // z-index: 99;
               
                @include sm{
                    display: none;
                }


                .notification{
                    position: absolute;
                    top: -8px;
                    right: -8px;
                    background-color: red;
                    color: white;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                   
                }
            }
        }
        .signup{
            // padding: 10px;
            background-color: #fece51 ;
        }


        
        .menuIcon{
            display: none;
            z-index: 9999;
            @include sm{
                display: initial;

            }
            img{
                width: 36px;
                cursor: pointer;
            }
        }

        .menu{
            position: absolute;
            background-color: black;
            color: white;
            height: 100vh;
            width: 50%;
            top: 0;
            right: -50%;
            transition: all  1s ease;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 999;
            &.active{
                right: 0;
            }

            @include sm{
                a{
                    display: initial;
                    font-size: 20px ;
                }
            }
        }
       


        
    }
}