@import '../../responsive.scss';

.profile{
    display: flex;
    height: 100%;

    @include md{
        flex-direction: column;
        overflow-y: scroll;
    }
    .details{
        flex: 3;
        overflow-y: scroll;
        padding-bottom: 50px;
        @include md{
            flex: none;
            height: max-content;
            // overflow-y: scroll;
        }
        .wrapper{
            padding-right:50px;

            display: flex;
            flex-direction: column;
            gap: 50px;

            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;

                h1{
                    font-weight: 300;
                }
                button{
                    padding: 12px 24px;
                    background-color:  #fece51;
                    cursor: pointer;
                    border: none;

                }
            }
            .info{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                gap: 20px;
                span{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
                button{
                    padding: 12px 24px;
                    background-color: teal;
                    cursor: pointer;
                    border: none;
                    align-self: flex-end;
                    width: 148px;
                    color:white;
                }
                img{
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                }

            }
            
        }
    }

    .chatContainer{
        flex: 2;
        background-color: #fcf5f3;
        height: 100%;
        @include md{
            flex: none;
            height: max-content;
            // overflow-y: scroll;
        }

        .wrapper{
            padding: 0px 20px;
            height: 100%;

        }
    }
}