@import '../../responsive.scss';

*{
    box-sizing: border-box;
}

.card{
    display: flex;
    gap: 20px;

    .imageContainer{
        flex: 2;
        height: 200px;

        @include sm{
            display: none;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;

        }
    }
    .textContainer{
        flex: 3;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;

        img{
            width: 16px;
            height: 16px;
        }

        .title{
            font-size: 20px;
            font-weight: 600px;
            color: #444;
            transition: all 0.4s ease;

            &:hover{
                color: black;
                scale: 1.01;
            }

            
        }

        .address{
            font-size: 14px;
            display: flex;
            // align-items: center;
            gap:5px;
            color: #888;
        }

        .price{
            font-size: 20px;
            font-weight: 300;
            padding: 5px;
            border-radius: 5px;
            background-color: rgb(254,205,81,0.438) ;
            width: max-content;
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            gap: 10px;

            .features{
                display: flex;
                gap: 20px;
                align-items: center;
                justify-content: center;
                font-size: 14px;

                .feature{
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    background-color: whitesmoke;
                    border-radius: 5px;
                    padding: 5px;

                }
            }

            .icons{
                display: flex;
                gap: 20px;
                .icon{
                    border: 1px solid #999;
                    padding: 5px 5px;
                    border-radius: 5px;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;

                    &:hover{
                        background-color: lightgrey;
                    }
                }
            }
            
            

        }
    }
}