*{
    box-sizing: border-box;
}
.listPage{
    display: flex;
    height: 100%;

    .listContainer{
        flex: 3;
        // background-color: pink;
        .wrapper{
            height: 100%;
            // background-color: pink;
            padding-right: 15px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            overflow-y: scroll;
            padding-bottom: 50px;
        }
    }

    .mapContainer{
        flex: 2;
        background-color: #fcf5f3;
        height: 100%;
    }
}